.split-pane {
    -fx-background-color:  linear-gradient(to bottom, rgba(24, 22, 22, 0.69), rgb(83, 77, 77));
}

.header {
    -fx-text-background-color:  #6622CC;
}

.case-black-neutral {
    -fx-background-color: #686868;
}
.case-black-neutral:selected {
    -fx-background-color: #a14c4c;
}
.case-black-neutral:hover {
    -fx-background-color: #a8a8a8;
}

.case-white-neutral {
    -fx-background-color: #ffffff;
}

.case-white-neutral:hover {
    -fx-background-color: #a8a8a8;
}

.case-white-neutral:selected {
    -fx-background-color: #a14c4c;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-font-size: 1.3em;
}

.table-row-cell {
    -fx-background-color: #999898;
    -fx-alignment: CENTER;
}

.table-row-cell:even {
    -fx-background-color: #a8a8a8;
    -fx-alignment: CENTER;
}
.scroll-bar:horizontal {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.scroll-bar:vertical {
    -fx-max-width: 2px;
    -fx-pref-width: 2px;
    -fx-opacity: 0;
    -fx-background-color: transparent;
}